Package: com.summer1988.hookmttlite
Name: hookmttlite
Depends: mobilesubstrate, coreutils-bin
Architecture: iphoneos-arm
Description: Just use to hook qq taobao alipay page!
Maintainer: summer1988
Author: summer1988
Section: Tweaks
Version: 0.1.1-41+debug
Installed-Size: 144
