Package: com.beichen.Preferences
Name: Preferences
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: beichen
Author: beichen
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 200
