Package: com.summer1988.wxReadPlug
Name: wxReadPlug
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: beichen
Author: beichen
Section: Tweaks
