Package: com.summer1988.hkfodderweixin
Name: hkfodderweixin
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: summer1988
Author: summer1988
Section: Tweaks
Version: 0.0.1-438+debug
Installed-Size: 1868
