Package: com.summer1988.vpn
Name: SMYVPN
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: summer1988
Author: summer1988
Section: Tweaks
Version: 4.0.0-189+debug
Installed-Size: 304
