Package: com.beichen.hkweixinsendcard
Name: hkweixinsendcard
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: beichen
Author: beichen
Section: Tweaks
Version: 0.0.1-367+debug
Installed-Size: 1328
