Package: com.summer1988.wxgroupmm
Name: wxgroupmm
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: -
Author: -
Section: Tweaks
Version: 0.0.1
Installed-Size: 480
