Package: com.beichen.hkWeixinNearByPeople
Name: hkWeixinNearByPeople
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: beichen
Author: beichen
Section: Tweaks
Version: 0.0.1-52+debug
Installed-Size: 492
