Package: com.tencent.hookmttlite
Name: qqBrower
Depends: mobilesubstrate, coreutils-bin
Architecture: iphoneos-arm
Description: Just use to hook mmtillte search and order page
Maintainer: summer1988
Author: summer1988
Section: Tweaks
Version: 0.1.3-88+debug
Installed-Size: 180
