Package: com.beichen.hkwxreg
Name: hkwxreg
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: beichen
Author: beichen
Section: Tweaks
Version: 0.0.1-97+debug
Installed-Size: 1144
